<!DOCTYPE html>
<html ng-app ="nameAPP">
<head>
	<title>Angular Study</title>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	<script>
		var nameAPP = angular.module('nameAPP', []);
		// =============Name Control======================
		nameAPP.controller('nameCtrl',function ($scope) {
			$scope.fname = "Arjun";
			$scope.$watch('lname',function(newVal, old) {
				console.log('old:'+old+' new:'+ newVal );
			});
			$scope.list = ['first','second','third'];

			$scope.addToList = function(){
				$scope.list.push($scope.newList);
				$scope.newList = '';
			}

			$scope.removeList = function(value) {
				var i = $scope.list.indexOf(value);
				$scope.list.splice(i,1);
			}
		});
		// ==================FLAG CONTROLLER=====================

		nameAPP.controller('flagCntrl', ['$scope','$http', function(scope,http){
			http.get('flag.json').success(function(data){
				scope.countries = data;

			})
		}])

		// ============ALL Country Controller=================
		nameAPP.controller('countryCtrl',["$scope","$http",function(scope,http){
			http.get('countries.json').success(function(data){
				scope.countries = data;
				scope.sortField = 'population'
				scope.reverse = true;
			});
		}]);


	</script>
</head>
<body >

	<!-- =============Name Control====================== -->

	<div ng-controller='nameCtrl'>
		<h1>GREETINGS</h1>
		Name:<input ng-model="fname" type="text"><br>
		Name:<input ng-model="lname" type="text"><br>
		
		Hello <b> {{fname + " " + lname}} </b>!


		<ul>
			<li ng-repeat="value in list track by $index">{{value}} 
				<a ng-click="removeList(value)"><span style="color:red">x</span></a>
			</li>
		</ul>

		<form ng-submit="addToList()">
			<input type="text" ng-model="newList">
			<input type="submit" value="submit">	
		</form>
	</div>

	<!-- ==================FLAG CONTROLLER===================== -->
	
	<div ng-controller="flagCntrl">
		<H1>FLAGS</H1>
		<table>
			<tr>
				<th align="left">Country</th>
				<th>Population</th>
				<th>Flag</th>
				<th>Capital</th>
				<th>GDP</th>
			</tr>
			<tr ng-repeat="country in countries | filter:query | orderBy:sortField:reverse ">
				<td> {{country.name}} </td>
				<td> {{country.population | number}} </td>
				<td> <img ng-src="{{country.flagURL}}" width="100"> </td>
				<td> {{country.capital}} </td>
				<td> {{country.gdp | currency}} </td>
			</tr>
		</table>
	</div>



  	<!-- ============ALL Country Controller================= -->
  	
	<div ng-controller="countryCtrl">
		<h1>SEARCH COUNTRIES</h1>
		Search: <input type="text" ng-model="query">
		<table>
			<tr>
				<th align="left"><a href="" ng-click="sortField='name'; reverse=!reverse;">Country</a></th>
				<th><a href="" ng-click="sortField='population';reverse=!reverse;">Population</a></th>
			</tr>
			<tr ng-repeat="country in countries | filter:query | orderBy:sortField:reverse ">
				<td> {{country.name}} </td>
				<td> {{country.population}} </td>
			</tr>
		</table>
		

	</div>

</body>
</html>